<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.UserDao">
    <resultMap id="UserResult" type="ltd.newbee.mall.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
    </resultMap>
    <select id="findAllUsers" resultMap="UserResult">
        SELECT id, name, password
        FROM tb_user
        order by id desc
    </select>

    <insert id="insertUser" parameterType="ltd.newbee.mall.entity.User">
        INSERT INTO tb_user(name, password)
        VALUES (#{name}, #{password})
    </insert>

    <update id="updUser" parameterType="ltd.newbee.mall.entity.User">
        UPDATE tb_user
        SET name=#{name},
            password=#{password}
        WHERE id = #{id}
    </update>

    <delete id="delUser" parameterType="int">
        DELETE
        FROM tb_user
        WHERE id = #{id}
    </delete>

</mapper>
